*
  margin: 0; padding: 0;

body
  display grid
  grid-template-areas "header"\
                        "subs"\
                        "today"
  justify-content center
  width 100vw
  background-color: #fafafa

.Container
  width 90vw
  // margin: 0 auto